<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%=title%> en EJS</title>
</head>
<body>
	<h1><%=title%> en EJS</h1>
	
	<ul>
		<% for(var i=0; i<listDos.length; i++){ %>
			<li><%=listDos[i]%></li>
		<%}%>
	</ul>
</body>
</html>